In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (4.15.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: trio~=0.17 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.23.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: attrs>=20.1.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: outcome in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [3]:
#import needed libraries
from selenium import webdriver
import numpy as np
import pandas as pd
import time
import warnings
warnings.filterwarnings('ignore')

from selenium.common.exceptions import NoSuchElementException

In [4]:
from selenium.webdriver.common.by import By

# 5)Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/ You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [102]:
driver = webdriver.Chrome()

In [103]:
url = "https://www.billboard.com/"
driver.get(url)

In [104]:
#Making empty list
Song_Name = []
Artist_Name =[]
Last_week_rank = []
Peak_rank = []
Weeks_on_board = []

In [109]:
chart_button=driver.find_element(By.XPATH,'/html/body/div[3]/div[9]/div/div/div/ul/li[1]/h3/a')
chart_button.click()
time.sleep(4)
driver.implicitly_wait(4)

In [116]:
for i in driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-medium-l u-letter-spacing-0021']"):
    Song_Name.append(i.text)

In [117]:
for i in driver.find_elements(By.XPATH,"//div[@class='lrv-u-padding-l-075 u-width-147 a-truncate-ellipsis-2line']"):
    Artist_Name.append(i.text)

In [118]:
for i in driver.find_elements(By.XPATH,"//div[@class='lrv-u-flex lrv-u-flex-direction-column lrv-u-justify-content-center lrv-u-align-items-center']"):
    Last_week_rank.append(i.text)

In [119]:
for i in driver.find_elements(By.XPATH,"//div[@class='lrv-u-border-color-white u-border-l-2 u-border-r-2 lrv-u-padding-lr-075 u-width-33']"):
    Peak_rank.append(i.text)

In [120]:
for i in driver.find_elements(By.XPATH,"//span[@class='c-label  lrv-a-unstyle-link a-font-primary-bold-l']"):
    Weeks_on_board.append(i.text)

In [121]:
billiboard = pd.DataFrame({})
billiboard['Name'] = Song_Name
billiboard['Artist'] = Artist_Name
billiboard['Last Week Rank'] = Last_week_rank
billiboard['Peak Rank'] = Peak_rank
billiboard['Weeks on board'] = Weeks_on_board
billiboard

ValueError: Length of values (9) does not match length of index (3)

# 6. Scrape the details of Highest selling novels.
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre
Url - https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

In [122]:
# Activating web driver
driver = webdriver.Chrome()
time.sleep(2)

# Getting required url
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
driver.get(url)
time.sleep(2)

In [123]:
# Creating empty lists
Book_name =[]
Author_name = []
Volumes_sold= []
Publisher = []
Genre = []

In [126]:
# Scraping book name 
for i in driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[2]"):
    Book_name.append(i.text)

# Scraping author name 
for i in driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[3]"):
    Author_name.append(i.text)

# Scraping Volumes sold 
for i in driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[4]"):
    Volumes_sold.append(i.text)

# Scraping Publisher 
for i in driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[5]"):
    Publisher.append(i.text)

# Scraping Genre details
for i in driver.find_elements(By.XPATH,"//table[@class='in-article sortable']/tbody/tr/td[6]"):
    Genre.append(i.text)

# Creating dataframe to store the fethched data
Novels = pd.DataFrame({'Book_name':Book_name,'Author_name':Author_name,'Volumes_sold':Volumes_sold,'Publisher':Publisher,'Genre':Genre})
Novels

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 7)Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/ You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [127]:
     #connect to the web driver
web_driver = webdriver.Edge()

#Get url in web driver first
url = 'https://www.imdb.com/list/ls095964455/'
web_driver.get(url)
#the url will open

In [129]:
#extract the tag having Name
name = web_driver.find_elements(By.XPATH,"//h3[@class='lister-item-header']//a")
#to remove extra data other than output we required
Name=[]
for i in name:
    Name.append(i.text)

#extract the tag having year span
year = web_driver.find_elements(By.XPATH,"//span[@class='lister-item-year text-muted unbold']")
#to remove extra data other than output we required
Year_Span=[]
for i in year:
    Year_Span.append(i.text)

#extract the tag having Genre
genre = web_driver.find_elements(By.XPATH,"//span[@class='genre']")
#to remove extra data other than output we required
Genre=[]
for i in genre:
    Genre.append(i.text)

#extract the tag having run time
run = web_driver.find_elements(By.XPATH,"//span[@class='runtime']")
#to remove extra data other than output we required
Run_Time=[]
for i in run:
    Run_Time.append(i.text)

#extract the tag having ratings
ratings = web_driver.find_elements(By.XPATH,"//div[@class='ipl-rating-star small']")
#to remove extra data other than output we required
Ratings=[]
for i in ratings:
    Ratings.append(i.text)

#extract the tag having voting
voting = web_driver.find_elements(By.XPATH,"//span[@name='nv']")
#to remove extra data other than output we required
Voting=[]
for i in voting:
    Voting.append(i.text)

In [130]:
# Make data frame of tv series 100 from imdb.com
TV_Series = pd.DataFrame({})
TV_Series['NAME']= Name
TV_Series['Year Span'] = Year_Span
TV_Series['Genre'] = Genre 
TV_Series['Run Time'] = Run_Time
TV_Series['Ratings'] = Ratings 
TV_Series['Voting'] = Voting 
TV_Series

,NAME,Year Span,Genre,Run Time,Ratings,Voting
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama","4,189 min",9.2,"2,226,506"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",51 min,8.7,"1,293,482"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,056,214"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"310,110"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"269,231"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.5,"53,273"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"65,355"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"213,156"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"44,371"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"278,008"

# 8. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/ You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.
ASSIGNMENT

In [6]:
driver = webdriver.Chrome()
time.sleep(2)
# Getting required url
url = "https://archive.ics.uci.edu/"
driver.get(url)

In [8]:

#Creating empty lists for storing the data
Name=[]
Type=[]
Task=[]
Attribute=[]
No_of_Instance=[]
No_of_Attribute=[]
Year=[]

In [10]:
#Scrapping the data having dataset name
try:
    names=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a")
    for i in names:
        Name.append(i.text)
except NoSuchElementException:
    Name.append('-')

In [11]:
#Scrapping the data having data type
try:
    types=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]")
    for i in types[1:]:
        Type.append(i.text)
except NoSuchElementException:
    Type.append('-')

In [12]:
#Scrapping the data having default task
try:
    task=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]")
    for i in task[1:]:
        Task.append(i.text)
except NoSuchElementException:
    Task.append('-')

In [13]:
#Scrapping the data having attribute types
try:
    attribute=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]")
    for i in attribute[1:]:
        Attribute.append(i.text)
except NoSuchElementException:
     Attribute.append('-')

In [14]:
#Scrapping the data having attribute types
try:
    attribute=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]")
    for i in attribute[1:]:
        Attribute.append(i.text)
except NoSuchElementException:
     Attribute.append('-')

In [16]:
#Scrapping the data having no of attributes
try:
    attribute_no=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]")
    for i in attribute_no[1:]:
        No_of_Attribute.append(i.text)
except NoSuchElementException:
    No_of_Attribute.append('-')

In [19]:
#Scrapping the data having the year details
try:
    year=driver.find_elements(By.XPATH,"/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]")
    for i in year[1:]:
        Year.append(i.text)
except NoSuchElementException:
    Year.append('-')

In [20]:
#Creating the dataframe
df=pd.DataFrame({"Name":Name,"Data types":Type,"Default Task":Task,"Attribute types":Attribute, 
                 "No of instances":No_of_Instance,"No of atrributes":No_of_Attribute,"Year":Year})
df

Empty DataFrame
Columns: [Name, Data types, Default Task, Attribute types, No of instances, No of atrributes, Year]
Index: []