In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (4.15.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.26.14)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (2022.12.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: trio~=0.17 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.23.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.3)
Requirement already satisfied: outcome in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [8]:
import selenium
import pandas as pd
from selenium import webdriver

In [39]:
driver = webdriver.Chrome()

In [49]:
url_1 = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url_1)

In [9]:
from selenium.webdriver.common.by import By

In [51]:
Rank = []
Name = []
Artist = []
Date = []
Views = []

In [53]:
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[1]"):
        Rank.append(i.text)
except NoSuchElementException:
    Rank.append("-")

In [54]:
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[2]"):
        Name.append(i.text)
except NoSuchElementException:
    Name.append("-")

In [55]:
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[3]"):
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append("-")

In [56]:
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[5]"):
        Date.append(i.text)
except NoSuchElementException:
    Date.append("-")

In [57]:
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td[4]"):
        Views.append(i.text)
except NoSuchElementException:
    Views.append("-")

In [58]:
# creating DataFrame for scraped data
Wiki = pd.DataFrame({})
Wiki['Rank'] = Rank
Wiki['Name'] = Name
Wiki['Artist'] = Artist
Wiki['Upload Date'] = Date
Wiki['Views (in Billions)'] = Views

# removing stray numbers from Name column
Wiki.Name = Wiki.Name.apply(lambda x:x[:-4].strip('"'))
Wiki

,Rank,Name,Artist,Upload Date,Views (in Billions)
0,1.,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",13.65
1,2.,Despacito,Luis Fonsi,"January 12, 2017",8.32
2,3.,Johny Johny Yes Papa,LooLoo Kids - Nursery Rhymes and Children's Songs,"October 8, 2016",6.84
3,4.,Bath Song,Cocomelon - Nursery Rhymes,"May 2, 2018",6.50
4,5.,Shape of You,Ed Sheeran,"January 30, 2017",6.14
5,6.,See You Again,Wiz Khalifa,"April 6, 2015",6.09
6,7.,Wheels on the Bus,Cocomelon - Nursery Rhymes,"May 24, 2018",5.71
7,8.,Phonics Song with Two Words,ChuChu TV Nursery Rhymes & Kids Songs,"March 6, 2014",5.57
8,9.,Uptown Funk,Mark Ronson,"November 19, 2014",5.09
9,10.,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,"February 27, 2018",5.01
10,11.,Gangnam Style,officialpsy,"July 15, 2012",4.96
11,12.,Masha and the Bear – Recipe for Disaster,Get Movies,"January 31, 2012",4.57
12,13.,Dame Tu Cosita,Ultra Records,"April 5, 2018",4.48
13,14.,Axel F,Crazy Frog,"June 16, 2009",4.16
14,15.,Sugar,Maroon 5,"January 14, 2015",3.97
15,16.,Counting Stars,OneRepublic,"May 31, 2013",3.92
16,17.,Roar,Katy Perry,"September 5, 2013",3.91
17,18.,Baa Baa Black Sheep,Cocomelon - Nursery Rhymes,"June 25, 2018",3.84
18,19.,Waka Waka (This Time for Africa),Shakira,"June 4, 2010",3.78
19,20.,Lakdi Ki Kathi,Jingle Toons,"June 14, 2018",3.76
20,21.,Sorry,Justin Bieber,"October 22, 2015",3.74
21,22.,Thinking Out Loud,Ed Sheeran,"October 7, 2014",3.69
22,23.,Humpty the train on a fruits ride,Kiddiestv Hindi - Nursery Rhymes & Kids Songs,"January 26, 2018",3.63
23,24.,Dark Horse,Katy Perry,"February 20, 2014",3.63
24,25.,Perfect,Ed Sheeran,"November 9, 2017",3.60
25,26.,Let Her Go,Passenger,"July 25, 2012",3.56
26,27.,Faded,Alan Walker,"December 3, 2015",3.55
27,28.,Shree Hanuman Chalisa,T-Series Bhakti Sagar,"May 10, 2011",3.54
28,29.,Girls Like You,Maroon 5,"May 31, 2018",3.52
29,30.,Lean On,Major Lazer Official,"March 22, 2015",3.50

Q2 : Scrape the details team India’s international fixtures from bcci.tv.
 Url = https://www.bcci.tv/.
 You need to find following details:
  A) Match title (I.e. 1st ODI)
  B) Series
  C) Place
  D) Date
  E) Time

In [92]:
import selenium
import pandas as pd
from selenium import webdriver

In [93]:
from selenium.webdriver.common.by import By

In [94]:
# webdriver
driver=webdriver.Chrome()

# getting url
url=('https://www.bcci.tv/')
driver.get(url)

In [95]:
#making list
Match=[]
Series=[] 
Place=[]  
Date=[]
Time=[]

In [96]:
try:
    for i in driver.find_elements(By.XPATH,"//span[@class='matchOrderText ng-binding ng-scope t20-tag']"):
        Match.append(i.text)
except NoSuchElementException:
    Match.append("-")

In [97]:
try:
    for i in driver.find_elements(By.XPATH,"//h5[@class='match-tournament-name ng-binding']"):
        Series.append(i.text)
except NoSuchElementException:
    Series.append("-")

In [106]:
try:
    for i in driver.find_elements(By.XPATH,'//div[@class="ng-binding"]'):
        Place.append(i.text)
except NoSuchElementException:
    Place.append("-")

In [99]:
try:
    for i in driver.find_elements(By.XPATH,"//div[@class='match-info']"):
        Date.append(i.text)
except NoSuchElementException:
    Date.append("-")

In [100]:
try:
    for i in driver.find_elements(By.XPATH,"//div[@class='match-time no-margin ng-binding']"):
        Time.append(i.text)
except NoSuchElementException:
    Time.append("-")

In [107]:
print(len(Match),
len(Series),
len(Place),
len(Date),
len(Time))

9 9 10 9 9

In [108]:
fixture=pd.DataFrame({'Match Title': Match,
                          "Series": Series,
                          "Date": Date,
                          "Time": Time})
fixture

,Match Title,Series,Date,Time
0,3rd T20I,AUSTRALIA TOUR OF INDIA 2023-24,"LIVE\n3rd T20I\n28 NOVEMBER, 2023\n7:00 PM IST...",7:00 PM IST
1,Women's T20 Match,ENGLAND A WOMENS TOUR OF INDIA T20 SERIES,Women's T20 Match\nENGLAND A WOMENS TOUR OF IN...,1:30 PM IST
2,Women's T20 Match,ENGLAND A WOMENS TOUR OF INDIA T20 SERIES,Women's T20 Match\nENGLAND A WOMENS TOUR OF IN...,1:30 PM IST
3,4th T20I,AUSTRALIA TOUR OF INDIA 2023-24,4th T20I\nAUSTRALIA TOUR OF INDIA 2023-24\n1 D...,7:00 PM IST
4,Women's T20 Match,ENGLAND A WOMENS TOUR OF INDIA T20 SERIES,Women's T20 Match\nENGLAND A WOMENS TOUR OF IN...,1:30 PM IST
5,5th T20I,AUSTRALIA TOUR OF INDIA 2023-24,5th T20I\nAUSTRALIA TOUR OF INDIA 2023-24\n3 D...,7:00 PM IST
6,1st T20I,ENGLAND WOMEN TOUR OF INDIA 2023-24,1st T20IWomen\nENGLAND WOMEN TOUR OF INDIA 202...,7:00 PM IST
7,2nd T20I,ENGLAND WOMEN TOUR OF INDIA 2023-24,2nd T20IWomen\nENGLAND WOMEN TOUR OF INDIA 202...,7:00 PM IST
8,3rd T20I,ENGLAND WOMEN TOUR OF INDIA 2023-24,3rd T20IWomen\nENGLAND WOMEN TOUR OF INDIA 202...,7:00 PM IST

Q 3: Scrape the details of selenium exception from guru99.com.
 Url = https://www.guru99.com/
 You need to find following details:
 A) Name
 B) Description
 Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [122]:
driver=webdriver.Chrome()

# getting the mentioned url
url = ("https://www.guru99.com/")
driver.get(url)

In [123]:
#list
Name = []
Description = []

In [124]:
driver.find_element(By.XPATH,"//li//a[@title='Selenium']").click()

In [125]:
driver.find_element(By.XPATH,'//a[@title="Selenium Exception Handling (Common Exceptions List)"]').click()

In [129]:
# scraping Name
for i in driver.find_elements(By.XPATH,"/html/body/div[1]/div/div/div/main/div/article/div/div/p[1]/strong"):
    Name.append(i.text)

In [130]:
for i in driver.find_elements(By.XPATH,"/html/body/div[1]/div/div/div/main/div/article/div/div/p[1]"):
    Description.append(i.text)

In [131]:
print(len(Name),len(Description))

1 1

In [132]:
# creating the dataframe from the scraped data
Selenium = pd.DataFrame({})
Selenium['Exception_Name'] = Name
Selenium['Description'] = Description
Selenium

,Exception_Name,Description
0,1. ElementNotVisibleException:,1. ElementNotVisibleException: This type of Se...

# 4. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [246]:
driver=webdriver.Chrome()
url = ("https://github.com/")
driver.get(url)

In [247]:
#list
Title=[]
Description=[]
Contributors=[]
Language=[]

In [253]:
try:
    for i in driver.find_elements(By.XPATH,"//a[@class='js-navigation-open Link--primary']"):
        Title.append(i.text)
except NoSuchElementException:
    Title.append("-")

In [254]:
try:
    for i in driver.find_elements(By.XPATH,"//a[@data-pjax='true']"):
        Description.append(i.text)
except NoSuchElementException:
    Description.append("-")

In [255]:
try:
    for i in driver.find_elements(By.XPATH,"//a[@href='/iam-abbas/Reddit-Stock-Trends/graphs/contributors']"):
        Contributors.append(i.text)
except NoSuchElementException:
     Contributors.append("-")

In [256]:
try:
    for i in driver.find_elements(By.XPATH,"//h2[@class='h4 mb-3']"):
        Language.append(i.text)
except NoSuchElementException:
     Language.append("-")

In [257]:
print(len(Title),
len(Description),
len(Contributors),
len(Language))

20 26 4 10